# Ambientes virtuais
venv/
.venv/

# Cache e arquivos compilados do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de log
*.log

# Arquivos de configurações e variáveis de ambiente
.env
.env.*

# Arquivos do sistema
.DS_Store
Thumbs.db

# Diretórios de build (úteis para pacotes Python)
build/
dist/
*.egg-info/

# Configurações do VS Code ou outros editores
.vscode/
.idea/

# Banco de dados local ou arquivos temporários
*.sqlite3
*.db
*.tmp