JoaoPedroRibeiro21 <dejpribeiro@gmail.com> <joao.ribeiro@vrsoft.com.br>
JoaoPedroRibeiro21 <dejpribeiro@gmail.com> <joao@MacBookPro.vrsoftware.local>
JoaoPedroRibeiro21 <dejpribeiro@gmail.com> <84289430+JoaoPedroRibeiro21@users.noreply.github.com>
JoaoPedroRibeiro21 <dejpribeiro@gmail.com> Joao Pedro <dejpribeiro@gmail.com>
JoaoPedroRibeiro21 <dejpribeiro@gmail.com> Joao Ribeiro <dejpribeiro@gmail.com>
JoaoPedroRibeiro21 <dejpribeiro@gmail.com> Joao Pedro Ribeiro <84289430+JoaoPedroRibeiro21@users.noreply.github.com>
JoaoPedroRibeiro21 <dejpribeiro@gmail.com> joao.ribeiro <dejpribeiro@gmail.com>
JoaoPedroRibeiro21 <dejpribeiro@gmail.com> Joao Ribeiro <joao.ribeiro@vrsoft.com.br>
